title: Your awesome title
author:
  name: GitHub User
  email: your-email@domain.com

# The `>` after `description:` means to ignore line-breaks until next key.
# If you want to omit the line-break after the end of text, use `>-` instead.
description: >
  Write an awesome description for your new site here. You can edit this line
  in _config.yml. It will appear in your document head meta (for Google search
  results) and in your feed.xml site description.

#url: ""
#baseurl: "/minima-on-subfolder-setup"

### Build settings

paginate: 5
paginate_path: "/page:num/"

# Plugins in the Gemfile should be repeated here for Github Pages to use them.
# Otherwise your content which depends on the plugin will cause a build to a fail.

plugins:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
#  - jekyll-paginate

# Theme-specific settings


# If you want to link only specific pages in your header, uncomment this and add the path to the pages in
# order as they should show up.
#
# header_pages:
#   - about.md

# Set to `true` to show excerpts on the homepage.
#
# show_excerpts: false

# Reading Files
include:
  - _pages
exclude:
  - README

#keep_files:
#  - .git

encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

sass:
  style: compressed
  source_dir: _sass

defaults:
  -
    scope:
      type: posts
      path: _posts
    values:
      is_post: true
      layout: post
      permalink: /:categories/:year/:month/:day/:title
  -
    scope:
      type: pages
      path: _pages
    values:
      is_post: false
      layout: page
      permalink: /:basename


